<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Golam AR</title>
    <meta charset="utf-8" />

    <!-- Open Graph Tags -->
    <meta property="og:title" content="Golam AR" />
    <meta
      property="og:description"
      content="AR experience for Golam malayalam movie."
    />
    <meta
      property="og:image"
      content="https://golam-assets.s3.ap-south-1.amazonaws.com/Poster-2.png"
    />
    <meta property="og:url" content="https://golamar.in" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Golam AR" />

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Golam AR" />
    <meta
      name="twitter:description"
      content="AR experience for Golam malayalam movie."
    />
    <meta
      name="twitter:image"
      content="https://golam-assets.s3.ap-south-1.amazonaws.com/Poster-2.png"
    />
    <meta name="twitter:url" content="https://golamar.in" />
    <meta name="twitter:creator" content="Metavian Technologies" />

    <!-- General Meta Tags -->
    <meta
      name="description"
      content="AR experience for Golam malayalam movie."
    />
    <meta
      name="keywords"
      content="WebXR, WebAR, Augmented Reality, Web App, Your Keywords"
    />
    <meta name="author" content="Metavian Technologies" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="./assets/icons/Website_Icone.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/index.css" />
  </head>

  <body>
    <div class="bg"></div>
    <div id="main-container" class="main-container">
      <div class="header">
        <div class="movie-title"></div>
        <div class="ar-exp"></div>
      </div>
      <div class="middle-part">
        <div class="poster"></div>

        <!-- <iframe class="trailer-video" src="https://www.youtube.com/embed/vL6l-9OqmfU">
      </iframe> -->
        <div class="select-language">
          <p class="select-language-p">Select Language</p>
          <div class="lang-button-container">
            <a href="/english">
              <div class="lang-button button-english">
                <p>English</p>
              </div>
            </a>
            <a href="/malayalam">
              <div class="lang-button button-malayalam">
                <p>Malayalam</p>
              </div>
            </a>
          </div>
        </div>
        <p class="text-message">
          For better experience please open in Safari (iOS) or Chrome (android)
          browser.
        </p>
      </div>
      <div class="footer">
        <div class="metavian"></div>
        <div class="bar-indicator">
          <div class="bar yellow-bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <!-- <div class="bar"></div>
        <div class="bar"></div> -->
        </div>
      </div>
    </div>
    <!-- <script>
      document.body.height = window.innerHeight-56;
      document.getElementById("main-container").height = window.innerHeight-56;
      console.log(window.innerHeight);
      console.log(document.body.height);
      console.log(document.getElementById("main-container").height);
  </script> -->
  </body>
</html>
