<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Golam AR</title>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/x-icon"
      href="./assets/icons/Website_Icone.png"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="./css/index.css" />
  </head>

  <body>
    <div class="bg"></div>
    <div class="main-container">
      <div id="qr-code"></div>
      <p class="qr-code-text">
        For AR Experience scan the QR Code on your smart phone.
      </p>
      <p class="qr-code-text qr-code-text-2">or visit</p>
      <p class="qr-code-text">https://golamar.in/</p>
      <p class="qr-code-text">on a AR compatible smart phone.</p>
    </div>
  </body>
</html>
